@font-face {
  font-family: 'Bobogo';
  src: url('src/assets/fonts/bobogo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pizzaria';
  src: url('src/assets/fonts/pizzaria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brockers';
  src: url('src/assets/fonts/brockers.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sixties';
  src: url('src/assets/fonts/sixties.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}