@use '@angular/material' as mat;

$spacing-1: 0.625rem;
$spacing-2: 1.25rem;
$corner: 3rem;

:host {
    position: relative;
    display: block;
    width: 100%; height: auto;
    background-image: url('src/assets/images/backgrouund/ingredients.png');
    background-repeat: repeat;
    background-size: 60vw;
    button {
        width: 100%; height: 3rem;
        font-size: 0.875rem;
        line-height: 0.875rem;
        border: solid 2px black;
        border-radius: 1.5rem;
        justify-content: center;
        align-items: center;
    }
}
.hero {
    width: 100%; height: 100dvh;
    background-image: linear-gradient( 45deg, #101010 48%, #1f1f1f 100% );
    swiper-slide {
        position: relative;
        display: flex;
        height: 100dvh;
        padding-bottom: 2rem;
        color: white;
        background-image: url('src/assets/images/backgrouund/ingredients.png');
        background-repeat: repeat;
        background-size: 60vw;
        flex-direction: column;
        &.mobile {
            height: calc( 100dvh - 3.5rem );
            justify-content: space-around;
            align-items: center;
        }
        div, img {
            position: absolute;
            &.mobile { position: unset;}
        }
        img.pizza {
            position: absolute;
            top: -30rem; left: 50%;
            width: 80%; height: auto;
            transform: translateX( -50% );
            &.mobile {
                top: -10rem;
                width: 100%;
            }
        }
        .title {
            top: 10rem; left: 50%;
            width: 100%;
            font-family: 'Brockers', sans-serif;
            font-size: 13rem;
            line-height: 10rem;
            text-align: center;
            overflow-wrap: break-word;
            rotate: -10deg;
            transform: translateX(-50%);
            text-shadow:
                0.625rem 0.625rem 0 black,
                -0.625rem -0.625rem 0 black,
                0.625rem -0.625rem 0 black,
                -0.625rem 0.625rem 0 black;
                &.mobile {
                    font-size: 5rem;
                    line-height: 5rem;
                    transform: translate(0, 50%);
                }
                animation: floating 5s ease infinite;
                @keyframes floating {
                    0% { margin-top: 0;}
                    50% { margin-top: $spacing-1;}
                    100% { margin-top: 0;}
                }
        }
        .status {
            bottom: $spacing-2; left: $spacing-2;
            display: flex;
            width: 10rem; height: 10rem;
            font-family: 'Sixties', sans-serif;
            font-size: 2rem;
            text-align: center;
            justify-content: center;
            align-items: center;
            img.stamp {
                top: 0; left: 0;
                width: 100%; height: 100%;
            }
            &.mobile {
                position: relative;
                bottom: 0; left: 0;
            }
        }
        .billing {
            bottom: $spacing-2; right: $spacing-2;
            font-size: 5rem;
        }
    }
}
.menu {
    &.pizza {
        .header {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                width: 100%; height: auto;
                &.mobile { width: auto; height: 20dvh;}
            }
            .title {
                position: absolute;
                top: 50%; left: 50%;
                font-family: 'Pizzaria', sans-serif;
                font-size: 5rem;
                color: white;
                transform: translate( -50%, -50% );
            }
        }
        .filter {
            position: sticky;
            top: 0;
            display: flex;
            width: 100%;
            padding: $spacing-1 $spacing-2;
            background: var(--general);
            border-bottom: solid 2px black;
            justify-content: space-around;
            z-index: 50;
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: $spacing-1;
                cursor: pointer;
                img {
                    $image-filter: 3.5rem;
                    width: $image-filter; height: $image-filter;
                    padding: $spacing-1 $spacing-1 0;
                }
                label { color: var( --text-color ); text-align: center;}
            }
            &.mobile {
                top: 3.5rem;
                gap: $spacing-2;
                overflow-x: scroll;
            }
        }
        .listmenu {
            display: grid;
            width: 100%; height: auto;
            padding: $spacing-2;

            grid-auto-rows: auto;
            gap: $spacing-1;
            &.web { grid-template-columns: repeat( 4, 1fr );}
            &.tab { grid-template-columns: repeat( 2, 1fr );}
            &.mobile { grid-template-columns: 1fr;}
            .item {
                position: relative;
                display: flex;
                width: 100%;
                .details {
                    display: flex;
                    width: 100%; height: 19rem;
                    margin-top: 55%;
                    padding: 23% $spacing-2 $spacing-2;
                    color: white;
                    border-radius: $spacing-2;
                    background: #930725;
                    flex-direction: column;
                    gap: $spacing-1;
                    .title {
                        font-family: 'Pizzaria', sans-serif;
                        font-weight: normal;
                    }
                    .billing {
                        font-size: 1.5rem;
                        text-align: right;
                    }
                    button.submit {
                        p {
                            position: relative;
                            mat-icon {
                                position: absolute;
                                right: -100%;
                                height: 1rem;
                                font-size: 1rem;
                                line-height: 1.3;
                            }
                        }
                        &.remove { background: #ff88a2;}
                        &:hover {
                            p mat-icon {
                                animation: sideside 1s infinite ease;
                                @keyframes sideside {
                                    0% { transform: translateX( 0 );}
                                    50% { transform: translateX( 3px );}
                                    100% { transform: translateX( 0 );}
                                }
                            }
                        }
                    }
                    &.mobile { height: fit-content;}
                }
                img {
                    position: absolute;
                    top: 0; left: 50%;
                    width: 70%;
                    transform: translateX(-50%);
                    &.status {
                        left: 0;
                        width: 2.5rem;
                        transform: translateX(0);
                    }
                }
            }
        }
    }
    &.beverage {
        .header {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                width: 100%; height: auto;
                &.mobile { width: auto; height: 20dvh;}
            }
            .title {
                position: absolute;
                top: 50%; left: 50%;
                font-family: 'Pizzaria', sans-serif;
                font-size: 5rem;
                color: white;
                transform: translate( -50%, -50% );
            }
        }
        .listmenu {
            display: grid;
            width: 100%; height: auto;
            padding: $spacing-2;

            grid-auto-rows: auto;
            gap: $spacing-1;
            &.web { grid-template-columns: repeat( 4, 1fr );}
            &.tab { grid-template-columns: repeat( 2, 1fr );}
            &.mobile { grid-template-columns: 1fr;}
            .item {
                position: relative;
                display: flex;
                width: 100%;
                .details {
                    display: flex;
                    width: 100%; height: 15rem;
                    margin-top: 55%;
                    padding: 23% $spacing-2 $spacing-2;
                    color: white;
                    border-radius: $spacing-2;
                    background: #930725;
                    flex-direction: column;
                    gap: $spacing-1;
                    .title {
                        font-family: 'Pizzaria', sans-serif;
                        font-weight: normal;
                        letter-spacing: 1px;
                    }
                    .billing {
                        font-size: 1.5rem;
                        text-align: right;
                    }
                    button.submit {
                        p {
                            position: relative;
                            mat-icon {
                                position: absolute;
                                right: -100%;
                                height: 1rem;
                                font-size: 1rem;
                                line-height: 1.3;
                            }
                        }
                        &.remove { background: #ff88a2;}
                        &:hover {
                            p mat-icon {
                                animation: sideside 1s infinite ease;
                                @keyframes sideside {
                                    0% { transform: translateX( 0 );}
                                    50% { transform: translateX( 3px );}
                                    100% { transform: translateX( 0 );}
                                }
                            }
                        }
                    }
                    &.mobile { height: fit-content;}
                }
                img {
                    position: absolute;
                    top: 0; left: 50%;
                    width: 70%;
                    transform: translateX(-50%);
                    &.status {
                        left: 0;
                        width: 2.5rem;
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}

// Payment section ============================================= //
.dialogSide {
    position: fixed;
    top: 0; right: 0;
    width: 20rem; height: 100dvh;
    padding: $spacing-1;
    transform: translateX( 20rem );
    transition: all 0.5s ease-in-out;
    z-index: 500;
    mat-card {
        @include mat.card-overrides((
            outlined-outline-width: 2px,
            outlined-container-shape: 2rem,
            outlined-container-color: var( --general ),
            title-text-font: 'Pizzaria',
            title-text-size: 3rem
        ));
        width: 100%; height: 100%;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        mat-card-header {
            justify-content: center;
        }
        mat-card-content {
            flex: 1 1 0;
            margin: $spacing-2 0 0;
            overflow-y: auto;
            .incart {
                $incart-height: 5rem;
                display: flex;
                width: 100%; height: $incart-height;
                padding: $spacing-1 0;
                img {
                    width: calc( $incart-height - 2*( $spacing-1 ));
                    height: calc( $incart-height - 2*( $spacing-1 ));
                }
                .detail {
                    flex: 1 1 0;
                    display: flex;
                    padding: $spacing-1;
                    flex-direction: column;
                    justify-content: space-between;
                    label, .billing { color: var( --text-color );}
                }
                .count {
                    display: grid;
                    width: 5rem; height: 100%;
                    background: var(--general);

                    grid-template-columns: repeat( 2, 1fr );
                    grid-template-rows: repeat( 2, 1fr );
                    grid-auto-rows: auto;
                    gap: 1px;
                    .key {
                        display: flex;
                        width: 100%; height: 100%;
                        color: white;
                        border-radius: 0;
                        background: #181717;
                        justify-content: center;
                        align-items: center;
                        &:nth-child(1) {
                            grid-row: 1 / span 2;
                        }
                    }
                }
            }
        }
        mat-card-footer {
            display: flex;
            padding: $spacing-1;
            flex-direction: column;
            gap: $spacing-1;
            mat-card.billing {
                @include mat.card-overrides((
                    outlined-container-shape: 1.5rem,
                    outlined-outline-color: var( --text-color )
                ));
                display: flex;
                width: 100%; height: fit-content;
                padding: $spacing-1;
                flex-direction: column;
                box-shadow: none;
                gap: 0.2rem;
                .billing-total {
                    display: flex;
                    color: var( --text-color );
                    justify-content: space-between;
                    &.final h3 {
                        font-family: 'Sixties', sans-serif;
                        color: var( --text-color );
                    }
                }
            }
            button {
                color: white;
                background: #930725;
                h5 {
                    font-family: 'Sixties', sans-serif;
                }
                &.clear {
                    width: fit-content; height: 1.5rem;
                    margin-left: auto;
                    padding: 0 $spacing-2;
                    border: none;
                    background: none;
                    p { color: var( --text-color );}
                }
            }
        }
    }
    button.toggle {
        position: absolute;
        bottom: $spacing-2; left: calc( -1*( 3rem + $spacing-1 ));
        width: 3rem;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
}